@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #343541;
}

#chat_container {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;

  padding-bottom: 20px;
  scroll-behavior: smooth;

  font-size: 10px;
}

/* hides scrollbar */
#chat_container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
  border-radius: 25px;
}

.ai {
  background: #40414F;
}

.chat {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 5px;

  background: #5436DA;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ai {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: #dcdcdc;

  max-width: 100%;
  overflow-x: scroll;

  /*
   * white space refers to any spaces, tabs, or newline characters that are used to format the CSS code
   * specifies how white space within an element should be handled. It is similar to the "pre" value, which tells the browser to treat all white space as significant and to preserve it exactly as it appears in the source code.
   * The pre-wrap value allows the browser to wrap long lines of text onto multiple lines if necessary.
   * The default value for the white-space property in CSS is "normal". This tells the browser to collapse multiple white space characters into a single space, and to wrap text onto multiple lines as needed to fit within its container.
  */
  white-space: pre-wrap; 

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}

form {
  bottom: 0;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  background: #40414F;

  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  border-radius: 15px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), -4px 0 6px rgba(0, 0, 0, 0.2);
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border: none;
  outline: none;

  resize: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

.chat-container {
  position: relative;
  left: 10px;
  overflow-y: auto;
  height: 80vh;
  width: calc(80% + 20px);
  max-width: 1280px;
  padding-right: 20px;

  border-radius: 25px;
}

.app {
  display: flex;
  align-items: center;

  height: 100vh;
  gap: 20px;
  font-size: 15px;
}

.ai-stripe {
  background-color: #505060;
}

.chat-container::-webkit-scrollbar, textarea::-webkit-scrollbar {
  margin-left: 5px;
  width: 10px;
  background-color: #363641;
}

.chat-container::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
  background-color: #8b8b9f;
  border-radius: 20px;
}

.prompt-button {
  height: 20px;
  width: 20px;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

pre {
  border-radius: 15px;
  margin-left: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), -4px 0 6px rgba(0, 0, 0, 0.2);
  width: 90%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  height: 5vh;
  width: 80%;

  background-color: #343541;
  color: #dcdcdc;

  border-bottom-left-radius: 10px;  /* Replace with the desired radius */
  border-bottom-right-radius: 10px; /* Replace with the desired radius */
}

.header-content {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 200;

  white-space: nowrap;
  overflow: hidden;
  direction: ltr;
  text-align: left;
  text-overflow: ellipsis;
}

.history-container {
  display: flex;
  flex-direction: column;
  gap: 3px;

  background-color: #000000;

  width: 18vw;
  height: 100vh;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  direction: ltr;
  text-align: left;
  text-overflow: clip;

  margin-left: 8px;
  width: 100%;

  font-size: 13px;
  color: white;
  font-weight: 100;

  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 100%);
  mask-image: linear-gradient(to right, black 80%, transparent 100%);
}

.conversation-container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.history-block {
  display: flex;
  justify-content: space-between;

  gap: 5px;

  cursor: pointer;
  padding: 10px 5px 10px;
  width: 95%;
}

.logo {
  color:#5436DA;
  margin: 10px 0px 30px 35px;
}

.new-chat {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}